@use '../abstracts' as *;

.overview {
    margin-top: 6rem;

    &__title {
        margin-bottom: 4rem;
    }

    &__columns-container {
        padding: 3rem;
        border-radius: 1rem;
        background-color: $color-tertiary-light;
        margin-bottom: 4rem;
    }
}

.col {
    padding: 1rem;
    border-radius: 1rem;
    background-color: $color-tertiary-dark;
}

.col-span-1 { grid-column: span 1; }
.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.col-span-4 { grid-column: span 4; }
.col-span-6 { grid-column: span 6; }
.col-span-8 { grid-column: span 8; }
.col-span-12 { grid-column: span 12; }
